body {
    font-family: Arial, sans-serif;
    background-color: #fffef4;
    color: #333;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
  }
  
  #page {
    max-width: 800px;
    margin: auto;
  }
  
  img {
    width: 100%;
    border-radius: 28px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  h1 {
    color: lab(0.62% 1.57 0.55);
    margin-bottom: 10px;
    font-weight: bold;
   
  }
  
  h2 {
    color: lab(0.62% 1.57 0.55);
    margin-top: 20px;
    font-weight: bold;
    
  }
  
  .headline {
    font-weight: bold;
    text-transform: uppercase;
    color: #e1624f;
    font-size: 16px;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    margin: 36px 0;
  }
  
  .destino {
    margin-bottom: 40px;
  }
  
  ul {
    padding-left: 20px;
  }
  
  .casais {
    color: #b266ff;;
  }

  .familias {
    color: #ff66b2;;
  }

  .orcamento {
    color: #ff9933;
  }